@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
 /** Add your custom utilities here */
}

@layer components {
  /** Add your custom components here */
}

@layer base {
  /** Add your custom base styles here */
}

/* Add all yours fonts */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300 800;
  font-display: optional;
  src: url('/fonts/open-sans-variable.woff2') format('woff2-variations'),
      url('/fonts/open-sans-variable.woff2') format('woff2');
  font-variation-settings: "wght" 400;
}
