---
import "@/assets/css/global.css";
import { Font } from "astro:assets";
import Favicons from "@/components/fundations/favicons.astro";
import Meta from "@/components/fundations/meta.astro";
import type { SeoProps } from "@/components/fundations/seo.astro";
import Seo from "@/components/fundations/seo.astro";
import TailwindIndicator from "@/components/tailwind-indicator.astro";
import { BUSINESS_CONFIG } from "@/config/business";

interface Props {
  metadata?: SeoProps;
}

const { metadata } = Astro.props;
const gtmId = BUSINESS_CONFIG.googleTagManager?.id;
---

<!doctype html>
<html lang="es" class:list={["scroll-smooth"]}>
  <head>
    <Meta />
    <Seo metadata={metadata} />
    <Favicons />
    <Font cssVariable="--font-geist" />
    <Fragment
      set:html={gtmId
        ? `<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','${gtmId}');</script>`
        : ""}
    />
  </head>
  <body>
    {
      gtmId && (
        <noscript>
          <iframe
            src={`https://www.googletagmanager.com/ns.html?id=${gtmId}`}
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <main>
      <slot />
    </main>
    <TailwindIndicator />
    <script src="@/scripts/eleven.ts"></script>
  </body>
</html>
