---
import '@/assets/css/global.css'
import Seoa, { type SEOProps } from '@/components/fundations/seo.astro';
import Meta from '@/components/fundations/meta.astro';
import Favicons from '@/components/fundations/favicons.astro';
import GtmNoscript from '@/components/gtm-noscript.astro';
import TailwindIndicator from '@/components/tailwind-indicator.astro';
import type { AstroSeoProps } from '@astrolib/seo';

interface Props {
  metadata?: SEOProps;
}

const { metadata } = Astro.props;
---

<!DOCTYPE html>
<html lang='es' class:list={['scroll-smooth']}>
  <head>
    <Meta />
    <Seo {...metadata} />
    <Favicons />

    <!-- FONTS -->
    <link
      rel='preload'
      href='/fonts/open-sans-variable.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <GtmNoscript />
    <slot />
    <TailwindIndicator />
    <script src="@/scripts/eleven.ts"></script>
  </body>
</html>
