---
import '@/assets/css/global.css'
import BaseHead from '@/components/fundations/base-head.astro';
import TailwindIndicator from '@/components/tailwind-indicator.astro';
---

<!DOCTYPE html>
<html lang='es' class:list={['scroll-smooth']}>
  <head>
    <BaseHead />
    <!-- FONTS -->
    <link
      rel='preload'
      href='/fonts/open-sans-variable.woff2'
      as='font'
      type='font/woff2'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <slot />
    <TailwindIndicator />
  </body>
</html>
