---
import { BUSINESS_CONFIG } from "@/config/business";
---

<!-- Meta Tags -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{BUSINESS_CONFIG.name}</title>
<meta
  name="description"
  content={BUSINESS_CONFIG.description}
/>
<meta name="keywords" content="keyword1, keyword2, keyword3" />
<meta name="author" content={BUSINESS_CONFIG.name} />

<!-- Theme Color for Mobile Browsers -->
<meta name="theme-color" content="#ffffff" />

<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
